/* ----------------------------COMMON-------------------------- */

body {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	font-family: "Roboto", "Arial", sans-serif;
	color: #ffffff;
}

.slider-radio {
	display: none;
}

.page {
	background-repeat: no-repeat;
	background-position: center top;
}

.wrapper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.center {
	max-width: 1172px;
	margin: 0 auto;
}

/* ---------------------COMMON-CLASSES------------------- */

.page a {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.125;
	color: #ffffff;
	text-decoration: none;
}

*:focus {
	outline: none;
}

.all-links:hover,
.all-links:active,
.all-links:focus {
	color: #ffbc9e;
	border-color: #ffbc9e;
}

.all-btn {
	display: inline-block;
	padding: 10px 22px;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	text-decoration: none;
	color: #ffffff;
	border: none;
	border-radius: 30px;
	background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
	background-image: -o-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
	background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	-webkit-box-shadow: 0 2px 2px rgba(85, 8, 0, 0.6);
	box-shadow: 0 2px 2px rgba(85, 8, 0, 0.6);
	font-size: 18px;
	font-weight: 700;
	line-height: 1.33;
}

.all-btn:hover,
.all-btn:focus {
	background-image: -webkit-linear-gradient(bottom, #ec6e5d 0%, #f58669 100%);
	background-image: -o-linear-gradient(bottom, #ec6e5d 0%, #f58669 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6e5d), to(#f58669));
	background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
	-webkit-box-shadow: 0 2px 2px #ac1000;
	box-shadow: 0 2px 2px #ac1000;
}

.all-btn:focus {
	outline: 2px dashed darkblue;
	outline-offset: 3px;
}

.all-btn:active {
	color: #fceeec;
	background-image: -webkit-linear-gradient(bottom, #e1613e 0%, #d74531 100%);
	background-image: -o-linear-gradient(bottom, #e1613e 0%, #d74531 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e1613e), to(#d74531));
	background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
	-webkit-box-shadow: inset 0 2px 2px #942718;
	box-shadow: inset 0 2px 2px #942718;
}

.all-form {
	display: none;
	position: absolute;
	top: 36px;
	z-index: 3;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding-bottom: 19px;
	background-color: #f8f7f4;
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
			box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.form-block {
	box-sizing: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	position: relative;
	min-width: 241px;
	margin-top: 1px;
	padding-top: 19px;
	padding-left: 15px;
	padding-right: 15px;
}

.form-block label {
	-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
			order: -1;
	position: absolute;
	top: 24px;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 14px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.71;
	color: #999999;
}

.all-input {
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
	position: relative;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 8px;
	padding-left: 13px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	line-height: 24px;
	background-color: #ffffff;
	border: 1px solid rgba(178, 178, 178, 0.5);
	border-radius: 5px;
}

.all-input:hover {
	padding-top: 9px;
	padding-right: 12px;
	padding-bottom: 7px;
	padding-left: 12px;
	border: 2px solid rgba(154, 154, 154, 0.5);
}

.all-input:focus {
	padding: 9px 13px;
	border: 1px solid #2e88e4;
	outline: none;
}

.all-input:required:valid + label {
	top: 24px;
	color: #999999;
}

.all-input:focus + label {
	top: 0;
	font-size: 11px;
	line-height: 1.18;
	color: #5b9ddf;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ----------------------------HEADER-------------------------- */

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	min-height: 74px;
}

.header-logo {
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 10px;
	padding-left: 13px;
}

.header .logo-link:focus {
	outline: 2px dashed darkblue;
}

.header-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	max-width: 579px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-nav-item {
	position: relative;
	margin-top: 15px;
	margin-right: 14px;
	margin-bottom: auto;
	margin-left: 14px;
	padding: 15px 0;
}

.header-nav a {
	font-weight: 700;
	border-bottom: 1px solid rgba(247, 246, 243, 0.3);
}

.header-nav-item:hover {
	margin-left: 0;
	margin-right: 0;
	outline: none;
}

.header-nav-item:hover > a {
	padding: 5px 14px;
	color: #323232;
	border-radius: 25px;
	background-color: #f7f6f3;
}

.header-nav-item a:focus {
	outline: 2px dashed darkblue;
}

.header-nav-item:active > a {
	background-color: #f8f7f4;
	-webkit-box-shadow: inset 0 2px 1px 0 #696969;
			box-shadow: inset 0 2px 1px 0 #696969;
}

.header-nav-item:hover .header-dropdown {
	display: block;
}

.current-link {
	background-color: #d07058;
}

.current-link > a {
	color: #ffffff;
	cursor: default;
}

.header-nav .current-nav-link {
	margin-left: 0;
	margin-right: 0;
}

.current-nav-link > a {
	padding: 7px 14px;
	border: none;
	border-radius: 25px;
}

.header-dropdown {
	display: none;
	position: absolute;
	top: 45px;
	left: -6px;
	z-index: 2;
	width: 143px;
	min-height: 171px;
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 5px;
	background-color: #f8f7f4;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
			box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	overflow: hidden;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.header-dropdown-item {
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
	padding: 0 6px;
}

.header-dropdown-item:hover {
	background-color: #fbded8;
	outline: none;
}

.header-dropdown-item:active {
	background-color: #f6b5a5;
}

.header-dropdown a {
	display: block;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 1.14;
	font-weight: 400;
	color: #323232;
	border: none;
}

.header-dropdown a:focus {
	outline: 2px dashed darkblue;
}

.header-dropdown-item:first-of-type a {
	padding-top: 11px;
	padding-bottom: 12px;
	font-weight: 700;
	border-bottom: 1px solid #d1d0ce;
}

.header-btn-contacts {
	position: relative;
	margin-left: auto;
}

.header-btn-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	position: relative;
	width: 287px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 23px 13px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	list-style: none;
}

.header-btn-item {
	position: relative;
	margin-bottom: auto;
	padding-bottom: 7px;
}

.header-btn {
	box-sizing: border-box;
	display: block;
	position: relative;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	cursor: pointer;
}

.header-btn-block .search {
	width: 32px;
	height: 32px;
}

.header-btn .search-icon {
	position: absolute;
	top: 7px;
	left: 8px;
}

.header-btn-item:hover .search,
.header-btn-item:hover .enter,
.header-btn-item:hover .cart,
.header-btn:focus {
	background-color: #f8f7f4;
	color: #323232;
	outline: 1px dashed darkblue;
}

.header-btn-item:first-of-type:hover .header-search-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-search-form {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	right: 0;
	min-height: 84px;
}

.header-search-form .form-block {
	width: 311px;
}

.header-btn-block .enter {
	padding-right: 16px;
	padding-left: 43px;
	font-size: 14px;
	font-weight: 500;
	line-height: 32px;
}

.header-btn .enter-icon {
	position: absolute;
	top: 5px;
	left: 16px;
}

.header-btn-item:nth-of-type(2):hover .header-enter-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-enter-form {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	right: -3px;
	z-index: 2;
	min-height: 214px;
}

.header-enter-form .form-block {
	padding-left: 19px;
	padding-right: 17px;
}

.header-enter-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
	padding-left: 19px;
	padding-right: 17px;
}

.header-enter-bottom .enter-btn {
	margin-top: auto;
	margin-right: 19px;
	margin-bottom: auto;
	margin-left: 0;
	padding-top: 11px;
	padding-right: 24px;
	padding-bottom: 8px;
	padding-left: 22px;
	border-radius: 21px;
	text-shadow: none;
}

.header-enter-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: space-between;
	padding-bottom: 4px;
}

.header-enter-links a {
	font-size: 13px;
	font-weight: 400;
	color: #323232;
	text-decoration: underline;
}

.header-enter-links a:first-of-type {
	margin-top: 4px;
}

.header-btn-block .cart {
	padding-right: 35px;
	padding-left: 44px;
	font-size: 14px;
	font-weight: 500;
	line-height: 32px;
}

.header-btn-block .cart-full {
	background-color: #f8f7f4;
	color: #323232;
	padding-right: 17px;
}

.header-btn .cart-icon {
	position: absolute;
	top: 6px;
	left: 16px;
}

.header-btn-item:last-of-type:hover .header-cart-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-cart-form {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	right: 0;
	width: 540px;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 22px;
	padding-left: 13px;
	color: #323232;
	outline: 1px solid green;
}

.header-cart-list {
	position: relative;
	margin-bottom: 7px;
	padding-bottom: 8px;
	border-collapse: collapse;
	cursor: default;
}

.header-cart-list::after {
	content: "";
	display: table;
	position: absolute;
	bottom: -15px;
	width: 100%;
	height: 1px;
	background-color: #cacac7;
}

.header-cart-item td {
	box-sizing: border-box;;
	margin: 0;
	padding: 10px 14px;
	font-size: 13px;
	line-height: 1.23;
	font-weight: 400;
}

.header-cart-item .cell-1 {
	position: relative;
	padding-left: 28px;
	padding-right: 0;
	text-align: left;
}

.header-cart-item .cross-small {
	display: block;
	position: absolute;
	top: 50%;
	left: 3px;
	transform: translateY(-50%);
	width: 19px;
	height: 19px;
	padding: 0;
	border: none;
	background-color: transparent;
}

.header-cart-item .cross-small:focus {
	outline: 1px dashed darkblue;
	outline-offset: 3px;
}

.header-cart-item img {
	display: block;
}

.header-cart-list .col-2 {
	width: 245px;
}

.header-cart-list .col-3 {
	width: 125px;
	text-align: center;
}

.header-cart-list .col-4 {
	width: 78px;
	text-align: center;
}

.header-cart-item .price-per-kg {
	color: #999999;
}

.header-cart-form .cart-total {
	width: 130px;
	margin-top: 23px;
	margin-left: auto;
	text-align: right;
	font-size: 15px;
	font-weight: 700;
	cursor: default;
}

.header-cart-form .cart-btn {
	width: 170px;
	margin-top: 14px;
	margin-right: 2px;
	margin-left: auto;
	padding: 10px;
	font-family: "Roboto", "Arial", sans-serif;
}

.header .wrapper-btn-contacts {
	position: relative;
}

.header-time-phone {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	top: 79.5%;
	z-index: 1;
	margin-left: auto;
	padding-right: 13px;
	text-align: right;
}

.header-time-phone p {
	margin: 6px 0;
}

.header-time-phone a {
	font-size: 22px;
	font-weight: 700;
	line-height: 1;
}

/* ----------------------------SLIDER-------------------------- */

.slider {
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	min-height: 551px;
	padding-top: 13px;
	padding-right: 0;
	padding-bottom: 3px;
	padding-left: 0;
}

.slider .slide {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
	width: 690px;
	min-height: 235px;
	margin-top: 283px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 10px;
	text-align: center;
}

.slider h1 {
	width: 680px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 30px;
	margin-left: 0;
	font-size: 60px;
	line-height: 1;
}

.slider .slide-btn {
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
	width: 279px;
	margin-bottom: 10px;
	padding-top: 9px;
	padding-right: 20px;
	padding-bottom: 11px;
	padding-left: 20px;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.375;
	border-radius: 40px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	bottom: 39px;
	width: 107px;
	padding: 14px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.slider-controls label {
	width: 21px;
	height: 21px;
	margin-right: 8px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
}

.slider-controls label:last-of-type {
	margin-right: 0;
}

#btn-1:checked ~ .page label[for="btn-1"],
#btn-2:checked ~ .page label[for="btn-2"],
#btn-3:checked ~ .page label[for="btn-3"] {
	background-color: #ffffff;
}

[id^="btn-"] ~ .page label[for^="btn-"]:hover ,
[id^="btn-"] ~ .page label[for^="btn-"]:focus{
	background-color: #b2c1b7;
	outline: 2px dashed darkblue;
	outline-offset: 3px;
}

#btn-1:checked ~ .page {
	background-color: #8ba596;
	background-image: url("../img/bg1.png");
}

#btn-2:checked ~ .page {
	background-color: #8996a6;
	background-image: url("../img/bg2.png");
}

#btn-3:checked ~ .page {
	background-color: #9d8b84;
	background-image: url("../img/bg3.png");
}

#btn-1:checked ~ .page #slide1,
#btn-2:checked ~ .page #slide2,
#btn-3:checked ~ .page #slide3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* ----------------------------BONUS-------------------------- */

.bonus {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-bottom: 45px;
	padding: 10px 13px;
	font-size: 18px;
}

.bonus-item {
	width: 560px;
}

.bonus .item-rasp,
.bonus .item-choc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	padding-top: 14px;
	padding-right: 21px;
	padding-bottom: 19px;
	padding-left: 18px;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.bonus .item-rasp {
	background-color: #b22e56;
	background-image: url("../img/bonus/rasp.jpg");
	background-position: -50px -94px;
}

.bonus .item-choc {
	background-color: #765043;
	background-image: url("../img/bonus/choc.jpg");
	background-position: -219px -104px;
}

.bonus-item h3 {
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 17px;
	margin-left: 0;
	font-size: 35px;
	line-height: 1.17;
}

.bonus-item p {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 43px;
	margin-left: 1px;
	line-height: 1.23;
}

.bonus .bonus-btn {
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-bottom: 5px;
	padding: 11px 23px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.33;
}

/* -------------------------BREADCRUMBS------------------------- */

.breadcrumbs-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	width: 413px;
	max-width: 600px;
	margin: 0;
	padding-top: 12px;
	padding-right: 13px;
	padding-bottom: 3px;
	padding-left: 13px;
	list-style: none;
}

.breadcrumbs-nav li {
	position: relative;
	padding-right: 22px;
}

.breadcrumbs-nav .current-breadcrumb {
	border: none;
}

.breadcrumbs-nav li:not(:last-of-type)::before,
.breadcrumbs-nav li:not(:last-of-type)::after {
	content: "";
	position: absolute;
	top: 6px;
	right: 11px;
	width: 3px;
	height: 3px;
	border: 1px solid #ffffff;
	border-bottom: none;
	border-left: none;
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}

.breadcrumbs-nav li:not(:last-of-type)::after {
	right: 8px;
}

.breadcrumbs-nav a {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.14;
	border-bottom: 1px solid rgba(247, 246, 243, 0.3);
}

/* ---------------------------СATALOG------------------------- */

.catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
}

.catalog-page {
	background-image: linear-gradient(#9cb0a5, #849d8f, #9cb0a5);
}

.catalog > h1 {
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 20px;
	padding: 0 13px;
	font-size: 35px;
	line-height: 1.17;
}

.user-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-ms-flex-line-pack: justify;
		align-content: space-between;
	min-height: 146px;
	margin-bottom: 36px;
	padding: 0 13px;
	font-weight: 500;
}

.user-block-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	padding: 7px 0;
	margin-right: 15px;
}

.user-block-span {
	position: relative;
	margin-left: 16px;
	margin-bottom: 7px;
}

.user-block-field {
	padding: 9px 16px;
	font-size: 16px;
	color: inherit;
	background-color: rgba(248, 247, 244, 0.2);
	border: none;
	border-radius: 25px;
}

.user-block .sort {
	width: 193px;
}

.sort-select::-ms-expand {
	display: none;
}

.sort-select {
	-webkit-appearance: none;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: inherit;
	background-image: url("../img/arrow.svg");
	background-repeat: no-repeat;
	background-position: 170px center;
	-moz-appearance: none;
	text-indent: 0.01px;
	-o-text-overflow: "";
		text-overflow: "";
}

.sort-select option {
	font-size: 14px;
	color: #323232;
}

.sort-select:hover,
.sort-select:focus {
	color: #323232;
	background-color: #ffffff;
	background-image: url("../img/arrow-black.png");
}

.price {
	width: 218px;
}

.price .win1,
.price .win2 {
	position: absolute;
	top: 0;
	left: 40px;
}

.price .win2 {
	left: 110px;
}

.price .span-dash {
	margin-left: 55px;
}

.price .user-block-field {
	position: relative;
	padding-top: 16px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
}

.price .range-slider {
	border: 2px solid rgba(248, 247, 244, 0.5);
}

.price .range-active {
	position: absolute;
	top: 16px;
	left: 40px;
	width: 45%;
	border: 2px solid #f8f7f4;
}

.price .left-handle,
.price .right-handle {
	position: absolute;
	z-index: 1;
	top: 8px;
	left: 35px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid #f8f7f4;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.price .right-handle {
	left: 133px;
}

.price .right-handle:focus,
.price .left-handle:focus {
	outline: 2px dashed darkblue;
	outline-offset: 3px;
}

.radio,
.checkbox {
	min-width: 415px;
	max-width: 700px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
	display: none;
}

.radio .radio-controls,
.checkbox .checkbox-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	padding-top: 4px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
}

.radio-controls label,
.checkbox-controls label {
	position: relative;
	margin: 5px;
	margin-top: 4px;
	padding-left: 30px;
	cursor: pointer;
}

.radio-controls label:last-of-type,
.checkbox-controls label:last-of-type {
	margin-right: 0;
}

.radio-controls label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -3px;
	width: 22px;
	height: 22px;
	background: url("../img/radio-off.svg") no-repeat;
	background-size: 100%;
	opacity: 0.7;
}

.checkbox-controls label::before {
	content: "";
	position: absolute;
	top: 1px;
	left: -2px;
	width: 20px;
	height: 20px;
	background: url("../img/checkbox-off.svg") no-repeat center;
	background-size: cover;
	opacity: 0.7;
}

.radio-controls label:hover::before,
.checkbox-controls label:hover::before,
.radio-controls label:focus::before,
.checkbox-controls label:focus::before {
	opacity: 1;
}

.radio-controls input[type=radio]:checked + label::before {
	background: url("../img/radio-on.svg") no-repeat;
	background-size: 100%;
}

.checkbox {
	min-width: 702px;
	max-width: 1000px;
}

.checkbox .checkbox-controls {
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	padding-left: 12px;
	padding-right: 17px;
}

.checkbox-controls input[type="checkbox"]:checked + label::before {
	top: -1px;
	left: -2px;
	width: 24px;
	height: 24px;
	background: url("../img/checkbox-on.svg") no-repeat center;
	background-size: 100%;
}

.radio-controls input[type=radio]:disabled + label,
.radio-controls input[type=radio]:disabled + label::before,
.checkbox-controls input[type="checkbox"]:disabled + label,
.checkbox-controls input[type="checkbox"]:disabled + label::before {
	opacity: 0.4;
	cursor: default;
}

.user-block-item .user-submit-btn {
	width: 143px;
	margin-top: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: inherit;
	background-color: rgba(248, 247, 244, 0.2);
	background-image: none;
	border: 2px solid #ffffff;
	-webkit-box-shadow: none;
			box-shadow: none;
}

.user-submit-btn:hover {
	color: #323232;
	background-color: #ffffff;
}

.user-submit-btn:active {
	padding-top: 8px;
	padding-bottom: 6px;
	background-color: #ededed;
	border: none;
	-webkit-box-shadow: inset 0 2px 1px 0 #696969;
			box-shadow: inset 0 2px 1px 0 #696969;
}

.catalog-ice {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	/* justify-content: space-around; */
	margin: 12px;
	margin-bottom: -26px;
	padding-left: 2px;
}

.catalog-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 267px;
	margin-top: -15px;
	margin-right: 26px;
}

.catalog-item:nth-of-type(4n) {
	margin-right: 0;
}

.catalog-item img {
	width: 267px;
	height: 267px;
}

.catalog-item-title h3 {
	display: inline;
	margin: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 16px;
	font-weight: 500;
	line-height: 1.375;
}

.catalog-item-title:hover h3,
.catalog-item-title:active h3,
.catalog-item-title:focus h3 {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item-title {
	z-index: 2;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	margin-top: -41px;
	margin-bottom: -14px;
	padding: 0 5px;
	text-align: center;
}

.catalog-item-price {
	position: relative;
	z-index: 2;
	bottom: 63px;
	margin: 0;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
	font-size: 45px;
	font-weight: 700;
	line-height: 1.2;
}

.catalog-item-weight {
	position: relative;
	margin-left: 35px;
	font-size: 30px;
	line-height: 1.5;
}

.catalog-item-weight::before {
	position: absolute;
	right: 42px;
	bottom: 4px;
	width: 31px;
	height: 36px;
	content: "";
	background: url(../img/catalog/ruble.svg) no-repeat;
}

.catalog-item img {
	z-index: 0;
	border-radius: 50%;
}

.catalog-item::after {
	position: absolute;
	z-index: 1;
	top: -6px;
	left: -4.8%;
	width: 110%;
	min-height: 107.5%;
	content: "";
	opacity: 0;
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.2);
	-webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover::after {
	opacity: 1;
}

.catalog-item:hover img {
	z-index: 2;
}

.mask-btn {
	z-index: 2;
	visibility: hidden;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 200px;
	margin: 22px auto 0;
	padding: 10px;
	padding-top: 13px;
	padding-bottom: 13px;
	opacity: 0;
	color: #fefefe;
}

.catalog-item:hover .mask-btn,
.mask-btn:hover {
	visibility: visible;
	opacity: 1;
}

.hit::before {
	position: absolute;
	z-index: 3;
	width: 61px;
	height: 61px;
	content: "";
	background: url(../img/catalog/hit.svg) no-repeat left top;
}

/* --------------------------PAGINATOR------------------------- */

.paginator {
	width: 191px;
	margin-left: auto;
	margin-top: 42px;
	margin-bottom: 14px;
	padding: 13px;
	font-size: 0;
}

.paginator a {
	display: inline-block;
	margin-right: 4px;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	vertical-align: top;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	border-radius: 25px;
}

.paginator a:last-of-type {
	margin-right: 0;
}

.paginator .paginator-current-page {
	color: #323232;
	background-color: #e9e9e9;
}

.paginator a:not(.paginator-current-page):hover {
	background-color: #9db1a5;
}

.paginator  a:not(.paginator-current-page):active {
	color: #323232;
	background-color: #e9e9e9;
}

.paginator a:focus {
	outline: 2px dashed darkblue;
	outline-offset: 3px;
}

.paginator .prev-page,
.paginator .next-page {
	display: inline-block;
	width: 10px;
	height: 27px;
	padding: 0;
	vertical-align: top;
	background: url("../img/icon-right-small.svg") no-repeat;
	cursor: pointer;
}

.paginator .prev-page {
	margin-right: 14px;
	-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
			transform: rotate(180deg);
	background-position: center;
}

.paginator .next-page {
	margin-left: 11px;
	margin-right: 0;
	background-position: 2px 6px;
}

.paginator .disabled {
	opacity: 0.4;
	cursor: default;
}

/* ---------------------------ABOUT-US------------------------- */

.about-us {
	margin-top: 1px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 11px;
	padding-left: 13px;
	color: #323232;
	border: 13px solid transparent;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-radius: 28px;
	background-color: #ede1cd;
	background-image: url("../img/about-us/wafer.png");
	background-clip: padding-box;
}

.about-us h2 {
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 7px;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.25;
}

.about-us-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	min-height: 202px;
	margin: 0 7px;
	padding: 0;
	list-style: none;
}

.about-us-info li {
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	max-width: 540px;
	padding-top: 13px;
	padding-left: 57px;
	font-size: 16px;
	line-height: 1.375;
	font-weight: 400;
}

.about-us-info p {
	margin: 0;
}

.about-us-common::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 49px;
	height: 49px;
	background-repeat: no-repeat;
}

.about-us-ice::before {
	background-image: url("../img/about-us/ice-cream.svg");
}

.about-us-cow::before {
	background-image: url("../img/about-us/cow.svg");
}

.about-us-nature::before {
	background-image: url("../img/about-us/eco.svg");
}

.about-us-temp::before {
	background-image: url("../img/about-us/therm.svg");
}

/* ---------------------------NEWS-SUBSCRIBE------------------------- */

.news-subscribe {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-bottom: 30px;
	padding: 0 13px;
	font-size: 16px;
	line-height: 1.375;
	color: #323232;
}

.news-subscribe-container {
	width: 560px;
}

.news {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	min-height: 220px;
	margin: 10px 0;
	padding-top: 24px;
	padding-right: 250px;
	padding-bottom: 23px;
	padding-left: 20px;
	background-color: #ffffff;
	background-image: url("../img/news-subscribe/strawberries.png");
	background-position: 17% 39.35%;
	border-radius: 15px;
}

.news h2 {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 4px;
	margin-left: 0;
	font-size: inherit;
	font-weight: 500;
}

.news a {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.25;
	color: inherit;
	text-decoration: underline;
}

.subscribe {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	margin: 10px 0;
	padding: 5px;
	background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #94ceff 7px, #94ceff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
	border-radius: 15px;
}

.subscribe-inner {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	max-width: 550px;
	min-height: 210px;
	padding: 29px 21px;
	padding-top: 30px;
	font-weight: 400;
	color: #5a5a5a;
	background-color: #f8f7f4;
	border-radius: 14px;
}

.subscribe-inner label {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 25px;
}

.subscribe-inner .email {
	width: 368px;
	margin-top: 10px;
	margin-right: 9px;
}

.subscribe-inner .send-btn {
	width: 127px;
	margin-top: 9px;
	padding-top: 9px;
	padding-right: 25px;
	padding-bottom: 11px;
	padding-left: 18px;
	line-height: 24px;
}

/* ---------------------------MAP-FEEDBACK------------------------- */

.map-wrapper *:focus {
	outline: 2px dashed darkblue;
}

.map-wrapper {
	position: relative;
	width: 100%;
	background-color: #d9d0b7;
	background-image: url("../img/map/map.png");
	background-repeat: no-repeat;
	background-position: center;
}

.map {
	position: relative;
	min-height: 429px;
}

.map::before {
	content: "";
	display: table;
	position: absolute;
	top: 139px;
	left: 341px;
	width: 218px;
	height: 142px;
	background: url("../img/map/pin-shadow.png");
}

.feedback {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	position: absolute;
	top: -367px;
	right: 28px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 301px;
	min-height: 305px;
	padding-top: 29px;
	padding-right: 25px;
	padding-bottom: 28px;
	padding-left: 25px;
	color: #323232;
	background-color: #ffffff;
	border-radius: 15px;
}

.feedback p {
	margin: 0;
	font-weight: 400;
	line-height: 1.43;
}

.feedback span {
	display: block;
	margin-top: 2px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.33;
}

.feedback a {
	display: block;
	margin-top: 6px;
	margin-bottom: 3px;
	font-size: 18px;
	line-height: 1.22;
	font-weight: 700;
	color: inherit;
}

.feedback a:focus {
	outline: none;
}

.feedback .feedback-btn {
	padding-top: 10px;
	padding-bottom: 11px;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	line-height: 1.33;
}

.feedback .feedback-btn:focus {
	outline: 2px dashed darkblue;
	outline-offset: 3px;
}

.modal-content {
	display: none;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	animation-name: shadow;
	animation-duration: 2s;
}

@keyframes shadow {
	from {
		background-color: rgba(0, 0, 0, 1);
	}

	to {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.modal-show {
	display: block;
}

@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes appear {
	from {
		top: 16.5%;
		left: 32.3%;
		transform: scale(0) rotate(0deg);
	}

	to {
		top: 16.5%;
		left: 32.3%;
		transform: scale(1) rotate(7200deg);
	}
}

.modal-window {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-box-sizing: content-box;
			box-sizing: content-box;
	min-height: 415px;
	padding-bottom: 27px;
	border-radius: 10px;
	-webkit-box-shadow: none;
			box-shadow: none;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	animation-name: appear, opacity;
	animation-duration: 2s, 2s;
	animation-timing-function: ease-in-out, linear;
}

.modal-window .form-block {
	padding-right: 24px;
	padding-left: 24px;
}

.modal-window label {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 18px;
	height: 17px;
	background-image: url("../img/cross-big.svg");
	cursor: pointer;
}

.modal-close:focus {
	outline: 2px dashed darkblue;
	outline-offset: 3px;
}

.modal-window h2 {
	margin-top: 15px;
	margin-bottom: 0;
	padding-left: 23px;
	font-size: 24px;
	font-weight: 500;
	color: #323232;
}

.modal-window input {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 269px;
	padding-top: 10px;
	padding-bottom: 8px;
}

.modal-window input:hover {
	padding-top: 9px;
	padding-bottom: 7px;
}

.modal-window input:focus {
	padding-top: 10px;
	padding-bottom: 8px;
}

.modal-textarea {
	width: 401px;
	min-height: 135px;
}

.modal-window button {
	-ms-flex-item-align: end;
		align-self: flex-end;
	margin-top: auto;
	margin-right: 24px;
	padding-top: 10px;
	padding-right: 23px;
	padding-bottom: 11px;
	padding-left: 23px;
	font-family: "Roboto", "Arial", sans-serif;
}

/* ---------------------------FOOTER------------------------- */

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 103px;
	padding: 0 8px;
}

.footer-hr {
	position: relative;
}

.footer-hr::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 97.7%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%);
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 195px;
	padding-top: 34px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}

.footer .footer-btn {
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
	width: 38px;
	height: 38px;
	margin-top: 2px;
	margin-right: 9px;
	margin-bottom: 2px;
	margin-left: 2px;
	background-repeat: no-repeat;
	color: rgba(255, 255, 255, 0.8);
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.footer-btn:last-child {
	margin-right: 0;
}

.footer-btn:hover,
.footer-btn:focus {
	border-color: rgba(255, 255, 255, 0.7);
	color: rgba(255, 255, 255, 1);
	outline: 2px dashed darkblue;
	outline-offset: 3px;
}

.footer-btn:active {
	color: #e9e9e9;
	border-color: rgba(255, 255, 255, 0.7);
}

.footer-partners {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 357px;
	margin-left: 200px;
	padding-top: 29px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	list-style: none;
	font-size: 0;
}

.footer-partners li {
	display: inline-block;
	position: relative;
	width: 115px;
	padding-left: 22px;
	padding-right: 6px;
	vertical-align: top;
	font-size: 15px;
}

.footer-partners li:nth-child(even) {
	min-width: 165px;
}

.footer-partners li:first-of-type::before {
	content: "";
	width: 15px;
	height: 13px;
	position: absolute;
	top: 8px;
	left: 0;
	background: url("../img/footer/heart.svg") no-repeat;
}

.footer-partners a {
	display: inline-block;
	padding-top: 7px;
	vertical-align: top;
	font-size: 13px;
	font-weight: 400;
	border-bottom: 1px solid rgba(247, 246, 243, 0.3);
}

.footer-copyrights {
	margin-left: auto;
	font-weight: 400;
}

.footer-logo {
	margin-top: 19px;
	margin-bottom: 3px;
	margin-right: 85px;
	margin-left: 5px;
}

.footer .logo-link:focus {
	outline: 2px dashed darkblue;
	outline-offset: 3px;
}

.footer-copyrights-paragraph {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 4px;
	font-size: 12px;
}

.footer-copyrights-paragraph a {
	font-size: inherit;
	font-weight: 400;
	border-bottom: 1px solid rgba(247, 246, 243, 0.3);
}
